:root {
    color-scheme: light dark;
}

.home-login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: light-dark(#fff, #000);
}

.demo-app-img {
    width: 450px;
}

.demo-app-img>img {
    width: 95%;
}

.section-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .demo-app-img {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .section-flex {
        flex-direction: column-reverse;
        justify-content: center;
        /* height: 100vh; */
    }

    section {
        background-color: red;
        /* height: 100vh; */
    }
}